<!-- File: chapter6/public/ng-resource-example.html -->
<html ng-app="notesApp">

<head>
  <title>ngResource Example</title>
  <style>
    .item {
      padding: 10px;
    }
  </style>
</head>

<body ng-controller="MainCtrl as mainCtrl">
  <h1>Hello Servers!</h1>
  <div ng-repeat="todo in mainCtrl.items"
       class="item">
    <div><span ng-bind="todo.label"></span></div>
    <div>- by <span ng-bind="todo.author"></span></div>
    <div><button ng-click="mainCtrl.done(todo)">DONE</button></div>
  </div>

  <div>
    <form name="addForm"
          ng-submit="mainCtrl.add()">
      <input type="text"
             placeholder="Label"
             ng-model="mainCtrl.newTodo.label"
             required>
      <input type="text"
             placeholder="Author"
             ng-model="mainCtrl.newTodo.author"
             required>
      <input type="submit"
             value="Add"
             ng-disabled="addForm.$invalid">
    </form>
  </div>

<script
  src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js">
</script>
<script src=
  "https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular-resource.js">
</script>
<script>
  angular.module('notesApp', ['ngResource'])
    .controller('MainCtrl', ['Notes', function(Notes) {
      var self = this;
      self.items = [];
      self.newTodo = {};
      var fetchTodos = function() {
        self.items = Notes.query();
      };

      fetchTodos();

      self.done = function(note) {
        Notes.markAsDone(note, function(notes) {
          self.items = notes;
        });
      };

      self.add = function() {
        Notes.save(self.newTodo).$promise
            .then(fetchTodos)
            .then(function() {
              self.newTodo = {};
            });
      };

    }])
    .factory('Notes', ['$resource', function($resource) {
      return $resource('/api/note/:id', {id: '@id'}, {
        markAsDone: {
          url: '/api/note/:id/done',
          method: 'POST',
          isArray: true
        }
      });
    }]);
</script>
</body>
</html>
