<!-- File: chapter14/appUnderTest/app/views/login.html -->
<div class="login-container" ng-controller="LoginCtrl as loginCtrl">
    <div class="card login-card">
        <div class="login-form">
            <form name="loginForm"
                  ng-submit="loginCtrl.login()"
                  class="form-horizontal"
                  role="form">
                <div class="form-group">
                    <label for="email">Username</label>
                    <input type="text"
                           ng-model="loginCtrl.user.username"
                           class="form-control"
                           id="email"
                           placeholder="Enter Username"
                           required="">
                </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password"
                           ng-model="loginCtrl.user.password"
                           class="form-control"
                           id="password"
                           placeholder="Enter Password"
                           required="">
                </div>
                <input type="submit"
                       class="btn btn-success btn-lg"
                       value="Login"
                       ng-disabled="loginForm.$invalid">
            </form>
        </div>
    </div>
</div>
