<!-- File: chapter11/ng-switch/index.html -->
<html>
<head>
  <title>Switch App</title>
</head>
<body ng-app="switchApp">

  <div ng-controller="MainCtrl as mainCtrl">
    <h3>Conditional Elements in HTML</h3>
    <button ng-click="mainCtrl.currentTab = 'tab1'">
      Tab 1
    </button>
    <button ng-click="mainCtrl.currentTab = 'tab2'">
      Tab 2
    </button>
    <button ng-click="mainCtrl.currentTab = 'tab3'">
      Tab 3
    </button>
    <button ng-click="mainCtrl.currentTab = 'something'">
      Trigger Default
    </button>

    <div ng-switch="mainCtrl.currentTab">
      <div ng-switch-when="tab1">
        Tab 1 is selected
      </div>
      <div ng-switch-when="tab2">
        Tab 2 is selected
      </div>
      <div ng-switch-when="tab3">
        Tab 3 is selected
      </div>
      <div ng-switch-default>
        No known tab selected
      </div>
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.11/angular.js"></script>
  <script type="text/javascript">
    angular.module('switchApp', [])
        .controller('MainCtrl', [function() {
          this.currentTab = 'tab1';
        }]);
  </script>
</body>
</html>
